@media(max-width: 1920px){

body{
  background-color: grey;
  margin: 0 auto;
}

h1{
  text-align: center;
  color: #8B0D04;
  font-family: 'Spectral SC', serif;
  font-size: 50px;
  text-transform: uppercase;
  text-shadow: 2px 2px black;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
}

a{
  text-decoration: none;
}

.a1{
  color: black;
}

.a1:hover{
  color: white;
}

table{
  margin-left: 20px;
  border-collapse: collapse;
  position: relative;
}

.table1{
  margin-top: 7%;
  margin-right: 5%;
}

.td-top{
  height: 35px;
  font-size: 28px;
  font-weight: bold;
  color: #911108;
  text-shadow: 1px 1px black;
}

.banner-image{
  padding-left: 3%;
  padding-right: 3%;
  width: 94%;
}

.metin2logo{
  padding-left: 35%;
  padding-right: 35%;
  width: 30%;
  position: relative;
  margin-top: 30px;
}

.th0{
  width: 4%;
}

.th1{
  width: 13%;
  text-align: left;
}

.th2{
  width: 10%;
  text-align: center;
}

.th3{
  width: 11%;
  text-align: center;
}

.th4{
  width: 8%;
  text-align: center;
}

.th5{
  width: 7%;
  text-align: center;
}

.th6{
    width: 10%;
    text-align: center;
}

.th7{
    width: 10%;
    text-align: center;
}

.td2{
  padding-bottom: 30px;
  font-size: 27px;
  font-weight: bold;
  color: black;
  border-top-style: solid;
  border-top: 2px 2px black;
}

.td1{
  padding-left: 30px;
  padding-bottom: 15px;
}

.td3{
  text-align: center;
  width: 1%;
}

.td4{
  padding-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  border-top-style: solid;
  border-top: 2px 2px black;

}

h2{
  color: #911108;
  text-transform: uppercase;
  text-shadow: 1px 1px black;

}

.topfunctions{
  color: black;
  text-decoration: none;
}

.topfunctions:hover{
  color: red;
}

main{
  font-family: 'Nunito', sans-serif;
  padding-left: 60px;
  padding-right: 30px;
  padding-top: 65px;
}

.texts-images{
  float: right;
}

.background-image{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0px;
  padding-top: 0px;
  width: 90%;
  height: 100%;
  position: fixed;
  opacity: 0.6;
}

.odkaz{
  text-decoration: none;
  text-decoration-line: none;
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
  color: currentcolor;
  font-weight: bold;
}

.odkaz:hover{
  color: #DE2316;
}

.Text{
  color: #9A1F16;
}

.button{
  position: absolute;
  height: 60px;
  width: 192px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.button1{
  text-decoration-color: currentcolor;
  text-decoration-line: none;
  text-decoration-style: solid;
  color: #fffabd;
  text-shadow: 1px 1px black;
  text-transform: uppercase;
  top: 43%;
  left: 17.5%;
  text-align: center;
  padding: 10px 9px;
  background-color: #CBA819;
  display: inline-block;
  border-radius: 8px;
  border: 2px solid #393232;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #E1CA38;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button2{
  text-decoration-color: currentcolor;
  text-decoration-line: none;
  text-decoration-style: solid;
  color: #fffabd;
  text-shadow: 1px 1px black;
  text-transform: uppercase;
  top: 43%;
  left: 45%;
  text-align: center;
  padding: 10px 9px;
  background-color: #CBA819;
  display: inline-block;
  border-radius: 8px;
  border: 2px solid #393232;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
}

.button3{
  text-decoration-color: currentcolor;
  text-decoration-line: none;
  text-decoration-style: solid;
  color: #fffabd;
  text-shadow: 1px 1px black;
  text-transform: uppercase;
  top: 43%;
  left: 72.5%;
  text-align: center;
  padding: 10px 9px;
  background-color: #CBA819;
  display: inline-block;
  border-radius: 8px;
  border: 2px solid #393232;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button4{
  text-decoration-color: currentcolor;
  text-decoration-line: none;
  text-decoration-style: solid;
  color: #fffabd;
  text-shadow: 1px 1px black;
  text-transform: uppercase;
  bottom: inherit;
  text-align: center;
  padding: 10px 9px;
  background-color: #CBA819;
  display: inline-block;
  border-radius: 8px;
  border: 2px solid #120D0D;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button4a{
  position: absolute;
  height: 35px;
  width: 90px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.odkazy{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #514443;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.odkazy:hover{
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.nadpis_info{
  position: relative;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  border: 2px 1px black solid;
}

.div-end{
  position: fixed;
  bottom: 0;
  background-color: grey;
  width: 100%;
}

.error{
  text-decoration: none;
  color: black;
  right: 6%;
  position: absolute;
}

.copyright{
  font-style: italic;
  position: absolute;
  left: 6%;
}

.error:hover{
  color: red;
}

.table2{
  border: 2px 2px solid blue;
}

.seznam{
  top: 55%;
  left: 16%;
  position: absolute;
  font-size: 19px;
  text-transform: uppercase;
  text-decoration: none;
}

.seznam-nadpis{
  font-size: 21px;
  color: blue;
  border-bottom: 1px solid red;
}

.seznam-text{
  text-decoration: none;
  cursor: pointer;
}

.seznam-text:hover{
  color: white;
}

.cell2{
    margin-top: 110px;
}

.textik{
		text-indent: -9999px;
    background-image: url(/the_img.png);
    height: 40px;
		position: absolute;
}

.texts{
	font-size: 20px;
  display: block;
  margin-left: 35%;
  margin-right: 10%;
  overflow: auto;
}

.links{
	text-align: left;
	font-family: var(--font-normal);
	border-top: 0.5px var(--color-dark) solid;
}

.zobrazit{
	text-indent: 0px;
}

.znicit{
	display: none;
}

.paticka{
    text-align: center;
    font-style: italic;
}

.nahoru{
  text-align: center;
}

.text_info{
  position: relative;
  margin-right: 30px;
  margin-left: 10px;
}
}


@media(max-width: 1100px){
  .button1{
    position: static;
    margin-top: 190px;
    left: 0;
    width: 100%;
  }

  .button2{
    position: inherit;
    margin-top: 20px;
    letf: 0;
    width: 100%;
  }

  .button3{
    position: inherit;
    margin-top: 20px;
    left: 0;
    width: 100%;
  }

  .button4{
    position: static;
    left: 0;
    width: 100%;
  }

table{
  display: block;
}
}
